.headlines{
padding: 320px 0;
@include outer-container;
    h2{
        font: 400 36px/1.6 'Open Sans', Helvetica, Arial;
        color: $white;
        text-shadow: 3.536px 3.536px 7px rgba( 108, 108, 108, 0.5 );
    }
    hr{
	width: 200px;
    }
    h1{
        font: 300 48px/1.6 'Open Sans', Helvetica, Arial;
        color: $white;
        text-shadow: 3.536px 3.536px 7px rgba( 108, 108, 108, 0.5 );  	
        margin:0;
        & #whatwedo{
        	font-weight: 600;
        }
    }
    h3{

        font: 400 italic 24px/1.6 'Droid Serif', sans-serif;
        color: $white;
        text-shadow: 3.536px 3.536px 7px rgba( 108, 108, 108, 0.5 );  	
        margin: 0;
        & .whatwedo-link{
	 font-weight: 700;
	 color: $white;
	 text-decoration: none;
        }
    }
}